* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000112;
}

#paint{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(43, 14, 82);
}